#table{
   background-color: blue;
   color: white;
   padding: 250px;
   text-align: center;
   text-align: top;
   font-size: 200%;
   padding-top: 50px;

}
#caption{
    background-color: blueviolet;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-right: 50px;
   padding-left: 50px;
   font-size: 100%;
}
#q1{
    background-color: yellow;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 80%;
}
#q2{
    background-color: yellow;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 80%;
}
#q3{
    background-color: yellow;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 80%;
}
#q4{
    background-color: yellow;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 80%;
}
#q5{
    background-color: yellow;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 80%;
}
#q6{
    background-color: yellow;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 80%;
}
#q7{
    background-color: yellow;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 80%;
}
#q8{
    background-color: yellow;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 80%;
}
#q9{
    background-color: yellow;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 80%;
}
#msg01{
    background-color: black;
    color: white;
}


